
*.csv
*.zip
*.pt
*.pth
*.jpg
*.avi
*.mp4
*.json
*.png
*.pkl
*.jpeg
3D_Number_Image_Classification/data/
*.gif
3D_Number_Image_Classification/tensorboard/
car_crash_analyze/tensorboard/
car_crash_analyze/*
2023_fashion_now/sub-task2/logging